project:
  type: website
  output-dir: docs
website:
  title: "Notes from the MPhil in Computational Biology 2022-23"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/sje30/notes22
format:
  html:
    theme: flatly
    css: styles.css



